html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Фикс для карты */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  min-height: 100% !important;
  min-width: 100% !important;
}